################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/DisplayJSONFiles.vcxproj.user
/BuildTmp
/Build
/DisplayJSONFiles_p.c
/DisplayJSONFiles_i.c
/dlldata.c
/DisplayJSONFiles.h
/DisplayJSONFiles.aps
